.main-toast{
    width: 100%;
    height: 100vh;
    position: relative;
}
.details{
    width: 30%;
    height: 30%;
    border-radius: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left:500px;
    top:200px;
    z-index: 2;
}
.success{
    border: 1px solid green;
    color: green;
}
.error{
    border: 1px solid red;
    color: red;
}
.warning{
    border: 1px solid orangered;
    color: orangered;
}
.info{
    border: 1px solid blueviolet;
    color: blueviolet;
}